{% extends "base.html" %}
{% block content %}
<div id="dashboard-content">
    <div class="column">
        <h1 class="title" style="margin: 10px;">KPIs</h1>
        <div id="kpis" class="fig_plate">
            {{ kpi|safe }}
        </div>
    </div>
    <div id="sales_analysis" class="column">
        <h1 class="title" style="margin: 10px;">Sales, Profit Analysis</h1>
        <div class="row">
            <div class="fig_plate">
                {{ sales|safe }}
            </div>
            <div class="fig_plate">
                {{profit_margin|safe}}
            </div>
        </div>
        <div class="row">
            <div class="fig_plate">
                {{ discount_impact_mean|safe }}
            </div>
            <div class="fig_plate">
                {{discount_impact_sum|safe}}
            </div>
        </div>
    </div>
    <div id="customer_analysis" class="column">
        <h1 class="title" style="margin: 10px;">Customer Analysis</h1>
        <div class="row">
            <div class="fig_plate">
                {{ customer_segment|safe }}
            </div>
            <div class="fig_plate">
                {{order_value|safe}}
            </div>
        </div>
        <div class="row">
            <div class="fig_plate">
                {{rfm_potential_customer|safe}}
            </div>
            <div class="fig_plate">
                {{rfm_risky_customer|safe}}
            </div>
        </div>
    </div>
        <div id="category" class="column">
        <h1 class="title" style="margin: 10px;">Product Category Analysis</h1>
        <div class="row">
            <div class="fig_plate">
                {{top_subcat_sales|safe }}
            </div>
            <div class="fig_plate">
                {{top_subcat_profit|safe}}
            </div>
        </div>
        <div id="discount" class="fig_plate">
            {{discount_impact_cat|safe}}
        </div>
        <div id="top_items" class="fig_plate">
            {{top_items|safe}}
        </div>
    </div>
</div>
{% endblock %}
